{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
  <div class="container text-center border border-2">
    <h1 class = "my-4 pb-4">{{ person.username }}의 프로필</h1>
    <hr>
    
      <div class="d-inline-block mb-3">
        {% if person.image %}
          <img class="rounded-circle" width=150px height=150px src="{{ person.image.url }}" alt="{{ person.image }}">
        {% else %}
          <i class="fas fa-user fa-5x"></i>
        {% endif %}
      
      </div>
      <div class=" d-inline-block ms-5">
        <div class="fs-1 d-inline-block mt-3">{{ person.username }}
          {% if request.user != person %}
            <form class="fs-1 d-inline-block"action="{% url 'accounts:follow' person.pk %}" method="POST">
              {% csrf_token %}
              {% if request.user in person.followers.all %}
                <button class="btn btn-primary btn-sm">언팔로우</button>
              {% else %}
                <button class="btn btn-primary btn-sm">팔로우</button>
              {% endif %}
            </form>
          {% endif %}
        </div>
        <div class="dropdown ">
          <button class="btn btn-secondary dropdown-toggle mt-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            프로필 사진 편집
          </button>
          <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">
            <form class="" action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.image }}
              <br>
              <button class="btn btn-secondary">Submit</button>
            </form>
          </ul>
        </div>
        
      </div>
    
    <div class="container border my-2">
      <div class="d-inline-block px-5 py-2">follower : {{ person.followers.all|length }}</div>
      <div class="d-inline-block px-5 "> following : {{ person.followings.all|length }}</div> 
    </div>
    
  </div>
  <div >
    <div class="block bg-light text-center py-3 fs-5 border border-2 mt-2">작성한 글</div>
    {% for review in  reviews %}      
      <div class="card my-2 mt-0">
        <a href="{% url 'community:detail' review.pk %}" class="text-decoration-none text-dark">
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ review.title }}</h5>
            <p class="card-text fw-bold">영화 : {{ review.movie_title }}</p>
          </div>
          </div>
        </a>
      </div>
    {% endfor %}
    <div >
    <div class="block bg-light text-center py-3 fs-5 border border-2 mt-2">작성한 댓글</div>
      {% for comment in  comments %}      
        <div class="card my-2 mt-0">
          <a href="{% url 'community:detail' comment.review.pk %}" class="text-decoration-none text-dark">
            <div class="card-body">
              <h5 class="card-title fw-bold">글 : {{ comment.review.movie_title }}</h5>
              <p class="card-text fw-bold">댓글 : {{ comment.content }}</p>
            </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  
  
{% endblock content %}