{% extends 'base.html' %}

{% block content %}
  {% if request.resolver_match.url_name == 'create' %}
    <h1 class="text-center">create</h1>
    <hr>
  {% else %}
    <h1 class="text-center">update</h1>
    <hr>
  {% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
      {% if field.errors %}
        <div class="alert alert-danger" role="alert">
          {{ field.errors }}
        </div>
      {% endif %}
      {{ field.label_tag }}
      {{ field }}
      <br>
    {% endfor %}
    <div class="d-flex justify-content-end m-3">
      <input type="submit" value="제출" class="btn btn-primary">
    </div>
  </form>
  <div class="d-flex justify-content-end">
    {% if request.resolver_match.url_name == 'create' %}
      <a href="{% url 'movies:index' %}" class="btn btn-primary mx-3">BACK</a>
    {% else %}
      <a href="{% url 'movies:detail' form.instance.pk %}" class="btn btn-primary mx-3">BACK</a>
    {% endif %}
  </div>
{% endblock content %}