{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center fw-bold">INDEX</h1>
  <hr>
  {% for review in reviews %}
    <a href="{% url 'community:detail' review.pk %}" class='text-decoration-none fw-bold h4 d-inline-block mb-3'>Title : {{ review.title }}</a>
    <p>Movie_Title : {{ review.movie_title }}</p>
    <p>Rank : {{ review.rank }}</p>
    <p>Created_at : {{ review.created_at }}</p>
    <p>Updated_at : {{ review.updated_at }}</p>
    <hr>
  {% endfor %}
{% endblock content %}