{% extends 'base.html' %}

{% block content %}
<form id="recommend-form" method="GET">
  {% for genre in genres %}
    <input type="checkbox" class="btn-check" id="check-{{ genre.pk }}" name="genre" value="{{ genre.pk }}">
    <label class="btn btn-outline-primary" for="check-{{ genre.pk }}">{{ genre.name }}</label>
  {% endfor %}
  <br>
  <button id="check-submit">전송</button>

  <hr>

  <h1>Movies</h1>
  <div class="row row-cols-1 row-cols-md-5 g-4" id="container_div">
  </div>
</form>

<script>
  const form = document.querySelector('#recommend-form')
  const URL = 'http://127.0.0.1:8000/movies/recommended_choice/'
  const movieList = document.querySelector('#movie-list')

  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const input = document.querySelectorAll('input[name=genre]:checked')
    let checked = []
    input.forEach(function (target) {
      checked.push(target.value)
    })
    checked = checked.map(num => parseInt(num))
    axios.get(URL)
      .then(response => {
        return response.data
      })
      .then(response => {
        let choiced_movie = []
        let check = false
        response.forEach(function (movie) {
          check = false
          movie.fields.genres.forEach(function (genre) {
            if (checked.includes(genre)) {
              check = true
            }
          if (check) {
            choiced_movie.push(movie)
            check=false
            return
          }
          })
        })
        const mainDiv = document.querySelector('#container_div')
        mainDiv.innerHTML = ''
        if (choiced_movie.length < 10) {
          const new_arr = choiced_movie
          new_arr.forEach( function (movie) {
            console.log(movie.fields)
            const div = document.createElement('div')
            div.innerHTML = `<div class="col"><div class="card h-100"><img src="` + movie.fields.poster_path + `" class="card-img-top"><div class="card-body"><h5 class="card-title">` + movie.fields.title + `</h5><p><span>장르 적어</span></p><p class="card-text" style="height:100px; overflow: hidden; text-overflow:ellipsis;">` + movie.fields.overview + `</p></div></div></div>`
            mainDiv.appendChild(div)
          })
        } else {
          const new_arr = []
          while (new_arr.length < 10) {
            const selected = choiced_movie[Math.floor(Math.random() * choiced_movie.length)]
            if (new_arr.includes(selected)) {
              continue
            } else {
              new_arr.push(selected)
              console.log(new_arr)
            }
          }
          new_arr.forEach( function (movie) {
            console.log(movie.fields)
            const div = document.createElement('div')
            div.innerHTML = `<div class="col"><div class="card h-100"><img src="` + movie.fields.poster_path + `" class="card-img-top"><div class="card-body"><h5 class="card-title">` + movie.fields.title + `</h5><p><span>장르 적어</span></p><p class="card-text" style="height:100px; overflow: hidden; text-overflow:ellipsis;">` + movie.fields.overview + `</p></div></div></div>`
            mainDiv.appendChild(div)
          })
        }
        return response
        })
      .catch(error => {
        console.log(error)
      })
    // console.log(movies)
    // const candidates = movies.filter
    })
</script>
{% endblock %}
