<div class="jumbotron text-center text-white bg-dark">
  <p class="lead mb-1">작성자 정보</p>
  <h1 class="display-4">{{ person.username }}</h1>
  <hr>
  {% with followings=person.followings.all followers=person.followers.all %}
    <p class="lead">
      팔로잉 : {{ followings|length }} / 팔로워 : <span id="follower-count">{{ followers|length }}</span>
    </p>
    <!-- 팔로우 버튼 -->
    {% if request.user != person %}
      <form id="follow-form" data-person-id="{{ person.pk }}">
        {% csrf_token %}
        {% if request.user in followers %}
          <button id="follow-button" class="btn-secondary btn-lg" role="button">Unfollow</button>
        {% else %}
          <button id="follow-button" class="btn-primary btn-lg" role="button">Follow</button>
        {% endif %}
      </form>
    {% endif %}
  {% endwith %}
</div>

<script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  const form = document.querySelector('#follow-form')
  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const personId = event.target.dataset.personId
    axios({
      method: 'post',
      url: `http://127.0.0.1:8000/accounts/follow/${personId}/`,
      headers: {'X-CSRFToken': csrftoken }
    })
    .then (response => {
      const followed = response.data.followed
      const count = response.data.count
      const followBtn = document.querySelector('#follow-button')
      const followerCnt = document.querySelector('#follower-count')
      if (followed) {
        followBtn.setAttribute('class', 'btn-primary btn-lg')
        followBtn.innerText = 'Unfollow'
      } else {
        followBtn.setAttribute('class', 'btn-secondary btn-lg')
        followBtn.innerText = 'Follow'
      }
      followerCnt.innerText = count
    })
    .catch (error => {
      if (error.response.status === 401) {
        alert('로그인 후 이용해주세요')
        location.href = 'http://127.0.0.1:8000/accounts/login/'
      }
    })
  })
</script>
