{% extends 'base.html' %}

{% block content %}
  <h2>{{ person.username }}</h2>
  
  {% if request.user.is_authenticated and request.user != person %}
    <form action="{% url 'accounts:follow' person.username %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-primary btn-sm">
        {% if request.user in person.followers.all %}
          Unfollow
        {% else %}
          Follow
        {% endif %}
      </button>
    </form>
  {% endif %}
  <hr>
  <h3>게시글</h3>
  {% for article in person.article_set.all %}
    <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
  {% endfor %}
  <hr>
  <h3>팔로잉 {{ person.followings.all|length }}</h3>
  <hr>
  {% for following in person.followings.all %}
    {{ following.username }}
  {% endfor %}
  <hr>
  <h3>팔로워 {{ person.followers.all|length }}</h3>
  <hr>
  {% for follower in person.followers.all %}
    {{ follower.username }}
  {% endfor %}
{% endblock content %}
