<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="todo-app">
    <select v-model="status">
      <option value="all">전체</option>
      <option value="not-done">진행중</option>
      <option value="done">완료</option>
    </select>
    <input type="text" id=todo-input>
    <button @click="addTodo">+</button>

    <ul>
      <li v-for="todo in todoComputed">
        <input type="checkbox" :checked="todo.done">
        <label>{{ todo.work }}</label>
      </li>
    </ul>
    <button @click="deleteTodo">완료된 할 일 지우기</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const todoApp = new Vue({
      el: '#todo-app',
      data: {
        // todo를 담을 리스트
        todos: [],
        // 화면에 표시될 todo의 상태 설정(all, not-done, done)
        status: 'all',
      },
      methods: {
        addTodo: function () {
          const input = document.querySelector('#todo-input')
          // todos 리스트에 추가
          this.todos.push({
            'work': input.value,
            // '완료 상태 : 미완료'로 추가
            'done': false
          })
          // input value(내용) 초기화
          input.value = ""
        },
        check: function (todo) {
          // done 상태 변경(input checkbox의 checked 속성도 따라서 변경된다)
          todo.done = !todo.done
          // if (todo.done) {
          //   todo.done = false
          // } else {
          //   todo.done = true
          // }
        },
        deleteTodo: function () {
          // filter 메소드를 이용해 done: false인 todo만 return
          this.todos = this.todos.filter(todo => {
            return !todo.done
            // return todo.done === false
          })
        }
      },
      computed: {
        // status가 변경될 때마다 보여질 todo list를 바꿈
        todoComputed: function () {
          return this.todos.filter(todo => {
            if (this.status === 'not-done') {
              return !todo.done
            }
            if (this.status === 'done') {
              return todo.done
            }
            return true
          })
        }
      }
    })
  </script>
</body>
</html>