<div class="card">
  <!-- 카드 - image 위 -->
  <a href="{% url 'community:detail' review.pk %}" class="text-decoration-none text-dark">
    <div class="card-body">
      <h5 class="card-title fw-bold">{{ review.title }}</h5>
      <p class="card-text fw-bold">영화 : {{ review.movie_title }}</p>
    </div>
    <!-- 카드 - image -->
    <img src="{{ review.image.url }}" class="card-img-top" alt="..." width="100%">
    <!-- 카드 - image 아래 -->
    <div class="card-body">
      <!-- 카드 - image 아래 - 좋아요 -->
      <div>
        <form action="{% url 'community:like' review.pk %}" method="POST">
          {% csrf_token %}
          <button class="p-0">
            {% if request.user in review.like_users.all %}
              <i class="fas fa-heart"></i>
            {% else %}
              <i class="far fa-heart"></i>
            {% endif %}
          </button>
        </form>
        {% if review.like_users.all|length == 1 %}
          <p>{{ review.like_users.all|first }}님이 좋아합니다</p>
        {% elif review.like_users.all|length > 1 %}
          <p>{{ review.like_users.all|first }}님 외 {{ review.like_users.all|length }}명이 좋아합니다</p>
        {% endif %}
      <!-- 카드 - image 아래 - 글 내용 -->
      </div>
      <a href="{% url 'accounts:profile' review.user.id %}" class="text-decoration-none text-dark">
        <h6 class="card-title fw-bold">작성자 : {{ review.user }}</h6>
      </a>
      <p class="card-text">{{ review.content }}</p>
      <!-- 카드 - image 아래 - 댓글 -->
      {% for comment in review.comment_set.all|slice:":2" %}
        <p class="mb-1"><span class="fw-bold">{{ comment.user }}</span> <span>{{ comment }}</span></p>
      {% endfor %}
    </div>
  </a>
  <hr class="my-1">
  <div class="card-body py-2">
    <form action="{% url 'community:comments_create' review.pk %}" method="POST" class="form-inline">
      <i class="far fa-comment"></i>
      {% csrf_token %}
      댓글 구현하려 했으나 CommentForm도 수정하고 해야되서 보류
    </form>
  </div>
</div>