{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}님의 프로필</h1>

  {% with followings=person.followings.all followers=person.followers.all %}
    <div>
      <div>
        팔로잉 : {{ followings|length }} / 팔로워 : 
        <span id="follower-cnt">{{ followers|length }}</span>
      </div>
      {% if request.user != person %}
        <div>
          <form id="follow-form" data-user-id="{{ person.pk }}">
            {% csrf_token %}
            {% if request.user in followers %}
              <button id="follow-btn" style="background-color: white"}>Unfollow</button>
            {% else %}
              <button id="follow-btn" style="background-color: darkturquoise">Follow</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
  {% endwith %}

  <hr>

  <h2>{{ person.username }}'s 게시글</h2>
  {% for article in person.article_set.all %}
    <div>{{ article.title }}</div>
  {% endfor %}

  <hr>
  
  <h2>{{ person.username }}'s 댓글</h2>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}

  <hr>
  
  <h2>{{ person.username }}'s likes</h2>
  {% for article in person.like_articles.all %}
    <div>{{ article.title }}</div>
  {% endfor %}

  <hr>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const followForm = document.querySelector('#follow-form')
    followForm.addEventListener('submit', function (event) {
      event.preventDefault()
      const userId = event.target.dataset.userId
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/accounts/${userId}/follow/`,
        headers: {'X-CSRFToken': csrftoken }
      })
      .then (response => {
        const followBtn = document.querySelector('#follow-btn')
        const followed = response.data.followed
        const followerCntRes = response.data.follower_count
        if (followed) {
          followBtn.innerText = "Unfollow"
          followBtn.setAttribute("style", "background-color: white")
        } else {
          followBtn.innerText = "Follow"
          followBtn.setAttribute("style", "background-color: darkturquoise")
        }
        const followerCnt = document.querySelector("#follower-cnt")
        followerCnt.innerText = followerCntRes
      })
    })
  </script>
{% endblock content %}